{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true,
    "jQuery": true
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-shadow": "off"
  }
}
